* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  width: 100%;
  height: auto;
}
.container {
  background-color: #000000;
  width: 100%;
  height: auto;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
}
.top {
  border: 1px solid green;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 600;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  text-align: center;
}
.center {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.filter {
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}
.content {
  display: grid;
  /* padding: 1rem; */
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
}
.card {
  border: 0.1px solid rgb(54, 54, 54);
  width: 275px;
  height: 275px;
  overflow: hidden;
}
.card img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.left{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: large;
}
.bottom{
  border: 1px solid slateblue;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.r_socials{
  display: flex;
  gap: 10px;
}
.r_btn{
  border: 1px solid rgb(97, 97, 97);
  width: 280px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 700px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .content {
    align-self: center;
    grid-template-columns: 1fr;
  }
}
