body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  width: 80px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #000;
}
button {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
