.watchlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.wl_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.wl_list {
  width: 40%;
  border-collapse: collapse;
}
.wl_list td,
.wl_list th {
  border: 1px solid #ddd;
  padding: 8px;
}
.wl_list tr:nth-child(even) {
  background-color: #1c1c1c;
}
.wl_list .wl_items:hover {
  background-color: #3a3a3a;
  cursor: pointer;
}
.wl_list th {
  background-color: #1f2937;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
}

.wl_type{
    width: 50px;
}
.wl_status{
    width: 70px;
}
.blue{
    background-color: #133B5C;
}
.purple{
    background-color: #570A57;
}
.gray{
    background-color: li;
}
.green{
    background-color: #1E5128;
}
.red{
    background-color: #950101;
}
.yellow{
    background-color: yellowgreen;
}