.home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 10px;
}
.buttons button {
  width: 160px;
  height: 70px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
.buttons .active{
    background-color: green;
}
.menu{
    border: 1px solid red;
    width: 100%;
    height: auto;    
}
