@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  background-color: #131313;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #131313;
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;
}
a {
  cursor: pointer;
  text-decoration: none;
}

/*    START Scroll Top button   */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: transparent;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 1000;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: black;
}
#scroll:hover {
  background-color: #fff;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
/*    END Scroll Top button   */

/*    START Header   */
#home {
  width: 100%;
  height: 100vh;
}
.navbar {
  width: 100%;
  height: 50px;
  padding: 0 10px;
}
.nav-items {
  display: flex;
}
.nav-links {
  width: 33%;
  height: 50px;
  margin-top: 10px;
  background-color: transparent;
}
.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
ul li a {
  margin-right: 15px;
  color: #fff;
}
ul li a:hover {
  border: none;
  border-top: 8px solid #53d153;
}
ul li a.active {
  border: none;
  border-top: 8px solid #53d153;
}
.nav-logo {
  width: 33%;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  font-family: "Dancing Script", cursive;
}
.nav-search {
  width: 33%;
  height: 50px;
  margin-top: 10px;
  text-align: end;
  font-size: large;
  border-radius: 20px;
}
.nav-search input[type="text"] {
  padding: 5px;
  font-size: 15px;
  border: 1px solid grey;
  border-radius: 20px;
  float: right;
  width: 50%;
  background: #fff;
  opacity: 0.9;
}
.nav-search::after {
  content: "";
  clear: both;
  display: table;
}

#home .header {
  background-image: url("./img/header-bg.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}
.header .header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-content h1 {
  font-size: 50px;
  font-weight: bolder;
  animation: h-animation 4s alternate;
}
.header-content a {
  border: 1px solid #53d153;
  border-radius: 20px;
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 25px;
  font-weight: lighter;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  text-transform: uppercase;
  background-color: #53d153;
  color: #fff;
  animation: h-animation 4s alternate;
}
.header-content a:hover{
  background-color: #fff;
  color: #53d153;
  border-color: #fff;
  transition: 300ms all;
}
@keyframes h-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .scroll-down {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #ffffff;
}
.scroll-down a{
  color: black;
}
.scroll-down a:hover{
  color: #ffffff;
}
.scroll-down:hover{
  color: #ffffff;
  border-color: black;
  background-color: black;
  transition: 300ms all;
}
@media only screen and (max-width: 768px) {
  .nav-search {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .header-content h1 {
    font-size: 25px;
  }
  .header-content a {
    font-size: 15px;
    width: 80%;
  }
  .header .scroll-down {
    font-size: 10px;
  }
}
/*    END Header   */

/*  START WhoWeAre Container     */
.wwd-container {
  width: 100%;
  height: auto;
  padding: 0 10%;
}
.wwd-container .wwd-header {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  color: grey;
  font-weight: bolder;
}
.wwd-header p {
  font-size: medium;
  padding-top: 5px;
}
.wwd-content .wwd-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wwd-items .wwd-item {
  margin: 0 20px;
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wwd-item i {
  font-size: 70px;
  padding: 20px 0;
  color: #53d153;
}
.wwd-item h3 {
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 10px;
}
.wwd-item p {
  font-size: medium;
  padding-bottom: 10px;
}
.wwd-item a {
  border: 1px solid #53d153;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: lighter;
  color: #fff;
  background-color: #53d153;
}
.wwd-item a:hover{
  border-color: #fff;
  background-color: #fff;
  color: #53d153;
  transition: 300ms ease-in-out;
}
@media only screen and (max-width: 768px) {
  .wwd-items {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .wwd-header h3 {
    font-size: 20px;
  }
  .wwd-header p {
    font-size: small;
  }
  .wwd-item h3 {
    font-size: large;
  }
  .wwd-item p {
    font-size: small;
  }
}

/*  END WhoWeAre Container     */

/*  START OurLatestWork Container     */
.olw-container {
  width: 100%;
  height: auto;
  padding: 0 15%;
  background-color: #53d153;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.olw-container .olw-header {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  color: grey;
  font-weight: bolder;
}
.olw-header p {
  font-size: medium;
  padding-top: 5px;
}
.olw-filter {
  margin: 50px 0;
}
.olw-filter table {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #53d153;
}
table th {
  border-right: 1px solid black;
  padding: 5px 10px;
}
table th:last-child {
  border-right: none;
}

.olw-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.olw-item img {
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 150px;
  width: 150px;
}
.olw-container .olw-button {
  border: 1px solid #2b9b2b;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  background-color: #2b9b2b;
  margin: 50px 0;
  cursor: pointer;
}
.olw-container .olw-button:hover{
  border-color: #fff;
  background-color: #fff;
  color: #53d153;
  transition: 300ms ease-in-out;
}
@media only screen and (max-width: 768px){
    .olw-header h3 {
        font-size: 20px;
      }
      .olw-header p {
        font-size: small;
      }
}
/*  END OurLatestWork Container     */

/*  START Testimonials Container     */
.tm-container{
  width: 100%;
  height: auto;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.tm-container .tm-header{
  text-align: center;
  font-size: 25px;
  color: grey;
  font-weight: bolder;
}
.tm-header p{
  font-size: medium;
  padding-top: 5px;
}
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
  color: black;
  background-color: #fff;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
.mySlides img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 15px;
}
@media only screen and (max-width: 768px){
  .tm-header h3 {
      font-size: 20px;
    }
    .tm-header p {
      font-size: small;
    }
    .mySlides q,p{
      font-size: smaller;
    }
}
/*  END Testimonials Container     */

/*  START Our Happy Clients Container     */
.oc-container{
  width: 100%;
  height: auto;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #F2F1F1;
}
.oc-container .oc-header{
  text-align: center;
  font-size: 25px;
  color: grey;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 30px;
}
.oc-header p{
  font-size: medium;
  padding-top: 5px;
}
.oc-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.oc-item img {
  margin: 25px 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 150px;
}
.oc-container .oc-button {
  border: 1px solid #DDDCDC;
  border-radius: 20px;
  color: grey;
  padding: 5px 10px;
  background-color: #DDDCDC;
  margin: 50px 0;
  cursor: pointer;
}
.oc-container .oc-button:hover{
  color: black;
}
@media only screen and (max-width: 768px){
  .oc-header h3 {
      font-size: 20px;
    }
    .oc-header p {
      font-size: small;
    }
}
/*  END Our Happy Clients Container     */

/*  START Meat the team Container     */
.mtt-container{
  width: 100%;
  height: auto;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #53D153;
}
.mtt-container .mtt-header{
  text-align: center;
  font-size: 25px;
  color: grey;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 30px;
}
.mtt-header p{
  font-size: medium;
  padding-top: 5px;
}
.mtt-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mtt-item h4{
  text-align: start;
  padding-left: 20px;
}
.mtt-item img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
.mtt-item .mtt-span{
  width: 50px;
  height: 100px;
  border-right: 2px solid #fff;
  margin: 10px 0;
  margin-right: 50px;
}
.mtt-container .mtt-button {
  border: 1px solid #3EBA3E;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  background-color: #3EBA3E;
  margin: 50px 0;
  cursor: pointer;
}
.mtt-container .mtt-button:hover{
  border-color: #fff;
  background-color: #fff;
  color: #53d153;
  transition: 300ms ease-in-out;
}
@media only screen and (max-width: 768px){
  .mtt-header h3 {
      font-size: 20px;
    }
    .mtt-header p {
      font-size: small;
    }
    .mtt-item h4{
      margin-bottom: 20px;
    }
}
/*  END Meat the team Container     */

.site-footer
{
  background-color:#333333;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  margin-bottom: 10px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.post-item{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.post-item img{
  height: 50px;
  width: 50px;
  float: left;
  padding-right: 5px;
  object-fit: cover;
}

.input-items input{
  background-color: #444444;
  width: 100%;
  border: none;
  margin-bottom: 5px;
}
.input-items .submit{
  background-color: #53d153;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 50px;
  cursor: pointer;
}
.input-items .submit:hover{
  background-color: #fff;
  transition: 300ms ease-in-out;
}
.site-footer .ftr-cnt{
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.ftr-1{
  float: left;
  width: 30%;
  margin-right: 90px;
}
.ftr-2{
  width: 30%;
}
.ftr-3{
  width: 30%;
}
@media only screen and (max-width: 768px){
.site-footer .ftr-cnt{
  flex-direction: column;
}
.ftr-1,.ftr-2,.ftr-3{
  width: 100%;
}
}

.l-f {
  width: 100%;
  height: 50px;
  background-color: #111111;
  color: white;
  text-align: center;
  padding-top: 20px;
}
.l-f a{
  text-decoration: none;
  color: #fff;
}
.l-f a:hover{
  color: #53d153;
  transition: 300ms ease-in-out;
}