/* .list{
    display: flex;
    align-items: center;
    gap: 10px;
}
.delete{
    width: 70px;
    height: 20px;
}
.dark{
    background-color: #0c0c0c;
}
.light{
    background-color: grey;
} */

.post{
    max-width: 1200px;
    height: 80vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header-container{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 20vh;
}
.post-input, .post-image{
    height: 100%;    
    width: 50%;
    border: 1px solid green;
}
.article{
    height: 50vh;
    width: 100%;
    border: 1px solid blue;
}
.save{
    width: 100%;
    height: 10vh;
}