@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;700&display=swap");

:root {
  --soft-blue: #5468e7;
  --soft-violet: #c897e4;
  --dark-blue: #232340;
  --desaturated-blue: #7676b2;
  --off-white: #f5f5f5;
  --light-orange: #ffba79;
}

.bg-sblue {  background-color: var(--soft-blue) }
.bg-sviolet { background-color: var(--soft-violet) }
.bg-dblue { background-color: var(--dark-blue) }
.bg-desblue { background-color: var(--desaturated-blue) }
.bg-offwhite { background-color: var(--off-white) }
.bg-orange { background-color: var(--light-orange) }
.txt-sblue { color: var(--soft-blue) }
.txt-sviolet { color: var(--soft-violet) }
.txt-dblue { color: var(--dark-blue) }
.txt-desblue { color: var(--desaturated-blue) }
.txt-offwhite { color: var(--off-white) }
.txt-orange { color: var(--light-orange) }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca";
}

#logo {
  color: var(--off-white);
  font-size: 50px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1px;
}
#logo span {
  color: var(--soft-blue);
  font-size: 52px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.04px;
}

.h1-mb {
  /* H1/Mobile */
  font-size: 34px;
  line-height: 42px;
}
.p-mb {
  /* Paragraph/Mobile */
  font-size: 16px;
  line-height: 24px;
}
.caption-mb {
  color: var(--desaturated-blue, #7676b2);
  /* Caption/Mobile */
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.12px;
}

@media (min-width: 768px) {
  a {
    /* Link */
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-decoration-line: underline;
  }
  h1 {
    /* H1/Desktop */
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
  }
  p {
    /* Paragraph/Desktop */
    font-size: 18px;
    line-height: 27px;
  }
  h3 {
    /* H3 */
    font-size: 24px;
    line-height: 30px;
  }
  caption {
    /* Caption/Desktop */
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.14px;
  }
  h3 {
    /* H4 */
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.16px;
    text-transform: uppercase;
  }
}
