/* START BANNER */

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-item {
  opacity: 1;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

/* 
.banner-slider .owl-carousel .owl-nav {
    top: 75%;
    left: 85%;
    width: 105px;
} */

.banner-slider .owl-carousel .owl-nav {
  top: 75%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0;
  color: white !important;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 1;
}

.banner-slider .owl-carousel .owl-nav .owl-prev,
.banner-slider .owl-carousel .owl-nav .owl-next {
  height: 28px;
  width: 28px;
  border-radius: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 30px;
}

.banner-slider .owl-carousel .owl-nav .owl-prev span:before,
.banner-slider .owl-carousel .owl-nav .owl-next span:before {
  font-size: 15px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 20px;
  bottom: -50px;
}

.owl-carousel .owl-nav .owl-next {
  right: 20px;
  bottom: -50px;
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 0;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
}

/* .banner-slider .owl-carousel .owl-dots {
    width: 10px;
    text-align: left;
    bottom: 300px;
    left: 90%;
} */
.banner-slider .owl-carousel .owl-dots {
  /* width: 10px;
    text-align: left;
    top: 65%;
    left: 50%;
    transform: rotate(90deg); */
  top: 76%;
}

.about-slider .owl-carousel .owl-dots {
  bottom: -40px;
}

.owl-carousel .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  margin: 5px;
  border-radius: 50%;
  background: #000000;
  position: relative;
}

.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #fc9813;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.work {
  width: 100%;
}

.work .img {
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 0;
}

.work .img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
}

.banner-slider .work .img {
  height: 620px;
}

/* .banner-slider .work .img::after {
    background-color: #3E3E3E;
    opacity: 35%;
} */

.banner-slider .owl-carousel .owl-nav .owl-prev {
  color: #1f1f24 !important;
  background-color: #fff !important;
}

.banner-slider .owl-carousel .owl-nav .owl-next {
  color: #1f1f24 !important;
  background-color: #fff !important;
}

.banner-slider .owl-carousel .owl-nav .owl-prev:hover,
.banner-slider .owl-carousel .owl-nav .owl-next:hover {
  color: #fc9813 !important;
}

.banner-slider .owl-carousel .work .img {
  position: relative;
}

.banner-slider .for-text {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #202020;
}

.banner-slider .for-text .ft-header {
  font-size: 48px;
  font-weight: 700;
  font-family: averta-bold;
  font-style: normal;
  line-height: 70px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.line {
  position: relative;
  text-align: center;
}

.line::before {
  content: "";
  background-color: #fc9813;
  height: 2px;
  display: block;
  position: absolute;
  width: 100px;
  top: 50%;
  right: -120px;
}

.line::after {
  content: "";
  background-color: #fc9813;
  height: 2px;
  display: block;
  position: absolute;
  width: 100px;
  top: 50%;
  left: -120px;
}

.ft-header span {
  color: #fc9813;
}

/* .ft-header .line{
    display: block;
    width: 60px;
    height: 1px;
    color: #FC9813;
    border: 1px solid #FC9813;
} */
.banner-slider .for-text .ft-regular {
  font-size: 16px;
  line-height: 25px;
  width: 40%;
  text-align: center;
  margin-bottom: 183px;
  font-style: normal;
  font-weight: normal;
}

/* END BANNER */

@media only screen and (max-width: 720px) {
  /* START BANNER */
  .banner-slider .work .img {
    width: 100%;
    height: 460px;
    position: relative;
    z-index: 0;
  }

  .banner-slider .owl-carousel .owl-dots,
  .banner-slider .owl-carousel .owl-nav {
    display: none;
  }

  .banner-slider .for-text .ft-header {
    /* font-size: 24px; */
    font-size: 36px;
    line-height: 40px;
    width: 80%;
    text-align: center;
  }

  .banner-slider .for-text .ft-regular {
    width: 80%;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }

  .line::before {
    width: 30px;
    right: -20px;
  }

  .line::after {
    width: 30px;
    left: -20px;
  }

  /* END BANNER */
}

@media (min-width: 180px) and (max-width: 280px) {
  .banner-slider .for-text .ft-header {
    font-size: 20px;
  }
}
