.nav-top{
    width: 100%;
    background-color: #F6F7FA;
}
.nav-top .container{
    height: 40px;
}
.nav-top a{
    color: #8D96AF;
}
.nav-top a:hover{
    color: #CA1016;
}
nav{
    width: 100%;
    background-color: #CA1016;
}
nav .container{
    height: 60px;
}
nav a{
    color: #fff;
}