.navbar{
    width: 100%;
    height: 70px;
}
.navbar ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navlink{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}