body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: url('/public/wallpapers/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}