body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 60px;
  background-color: #303030;
  color: #fff;
}
.navbar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-mobile {
  display: none;
}
.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown-menu {
  display: none;
}
.dd-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 120px;
  height: 100px;
  padding-left: 5px;
  position: absolute;
  top: 200%;
  left: 0;
  z-index: 2;
  background-color: #303030;
  list-style-type: none;
}
.dd-menu li{
  width: 100%;
  height: 20px;
}
@media (max-width: 768px) {
  .nav-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav-ul {
    display: none;
  }
  .navbar .container {
    position: relative;
  }
  .mob-menu {
    width: 100%;
    height: 200px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 73%;
    left: 0;
    background-color: #303030;
    z-index: 2;
  }
  .dropdown {
    position: static;
  }
  .dd-menu-mob {
    border: 1px solid red;
    position: static;
  }
}

.deneme {
  width: 100%;
  height: 340px;
  background-color: #584d4d;
}
