body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 150vh;
  width: 100%;
  background-color: #ededed;
}
nav {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #353535;
  color: #ffffff;
}
.nav-div {
  height: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.mobile-nav, .mobile-btn {
  display: none;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    display: none;
    width: 50px;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.dropdown:hover .dropdown-menu{
    display: flex;
}

@media (max-width: 768px) {
  .nav-ul {
    display: none;
  }
  .mobile-nav {
    position: sticky;
    top: 0;
    left: 0;
    color: #000;
    width: 100%;
    height: auto;
    border: 1px solid green;
    background-color: green;
  }
  .mob-nav,.mobile-btn {
    display: block;
  }
  .mob-nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
